---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SwitchTheme from '../components/SwitchTheme.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<header>
            <nav style="
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.3s;
          ">
                <a style="
                position: relative;
                display: block;
                padding: 0.5rem 1rem; /* px-2 py-2 */
                transition: color 0.3s, transform 0.3s;
                " 
                href="/" 
                onmouseover="this.style.color='#F59E0B'; this.style.transform='scale(1.05)';" 
                onmouseout="this.style.color=''; this.style.transform='';">
                    Home
                </a>
                <a style="
                position: relative;
                display: block;
                padding: 0.5rem 1rem; /* px-2 py-2 */
                transition: color 0.3s, transform 0.3s;
                " 
                href="/about" 
                onmouseover="this.style.color='#F59E0B'; this.style.transform='scale(1.05)';" 
                onmouseout="this.style.color=''; this.style.transform='';">
                    About
                </a>
                <a style="
                position: relative;
                display: block;
                padding: 0.5rem 1rem; /* px-2 py-2 */
                transition: color 0.3s, transform 0.3s;
                " 
                href="/blog" 
                onmouseover="this.style.color='#F59E0B'; this.style.transform='scale(1.05)';" 
                onmouseout="this.style.color=''; this.style.transform='';">
                    Blog
                </a>
            </nav>
			<SwitchTheme/>
			
			
		</header>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>