---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li style="list-style: none;">
		<h3 style="font-size: 1.35em; text-decoration: none;">
			{title}
		</h3>
		<p>
			{body}
		</p>
		<a href={href} target="_blank" rel="noopener noreferrer">Ir al proyecto</a>
</li>

