---

---
<div
            style="
            margin-top: 2rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            "
        >
            <p>
                <label for="input__emailaddress">Email Address</label>
                <input
                    id="input__emailaddress"
                    placeholder="name@email.com"
                    type="email"
                />
            </p>
            <button type="submit">Suscribete</button>
        </div>