---

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" 
x-data="{ darkMode: window.matchMedia('(prefers-color-scheme: dark)').matches }" 
x-init="
  $watch('darkMode', value => {
	document.getElementById('light-theme').disabled = value;
	document.getElementById('dark-theme').disabled = !value;
  });
  document.getElementById('light-theme').disabled = darkMode;
  document.getElementById('dark-theme').disabled = !darkMode;
">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
<<<<<<< HEAD
		<link rel="stylesheet" href="./public/styles/sakura-earthly.css" media="screen" id="light-theme" />
    	<link rel="stylesheet" href="./public/styles/sakura-dark.css" media="screen" id="dark-theme" />
=======
		<link rel="stylesheet" href="./src/styles/sakura-earthly.css" media="screen" id="light-theme" />
    	<link rel="stylesheet" href="./src/styles/sakura-dark.css" media="screen" id="dark-theme"/>
>>>>>>> 6ab242202f5bdb1b2e0859d6b9d20511d62bc68b
    	<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    body {
      transition: background-color 0.5s, color 0.5s;
    }
  </style>
